@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

main {
	min-height: calc(100vh - 230px);
}

.logo {
	font-family: "Righteous", cursive;
	font-size: 1.2rem;
}

footer {
	margin-top: 30px;
}

.starIcons > svg {
	fill: #ffd166;
	margin-right: -5px;
}

.user-review-photo {
	height: 75px;
	width: auto;
}

.displayNone {
	display: none;
}

.restaurantImg {
	height: 150px;
	min-height: 150px;
	width: auto;
}

.reviewPhoto {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

#restaurant-photos-container > img,
.modal-restaurant-photos-img {
	width: 100%;
}

.uk-notification-message {
	background-color: white;
}

.uk-notification-message-success {
	border: 1.5px solid lightseagreen;
}

.uk-notification-message-danger {
	border: 1.5px solid lightcoral;
}

/* modal restyle */
.uk-modal-footer {
	border-top: none;
}

button.uk-button.uk-button-primary {
	background-color: #f0506e !important;
}

/* .uk-navbar-container:not(.uk-navbar-transparent) {
	background-color: #f0506e;
} */
