/* header,
main,
aside,
section,
footer {
	border: 0.2px solid whitesmoke;
} */

main {
	min-height: calc(100vh - 300px);
}

.starIcons > svg {
	fill: #ffd166;
	margin-right: -5px;
}

.user-review-photo {
	height: 75px;
	width: auto;
}
